@use '../../helpers/class' as *;
@use '../../config/spacing' as *;

$values:(
    auto: auto,
    0: 0,
    full: 100%
);

$size: map-merge($values, $spacers);

$sizing:(
    width:(
        prop: width,
        class: 'w',
        values: map-merge($size,(screen: 100vw))
    ),
    height:(
        prop: height,
        class: 'h',
        values: map-merge($size,(screen: 100vh))
    )
    );
    
@each $prop in map-values($sizing){
    $all:(
        min-#{map-get($prop,prop)}:(
            prop: min-#{map-get($prop, prop)},
            class: min-#{map-get($prop, class)},
            values: map-get($prop, values)
        ),
        max-#{map-get($prop,prop)}:(
            prop: max-#{map-get($prop, prop)},
            class: max-#{map-get($prop, class)},
            values: map-get($prop, values)
        )
    );
    $sizing: map-merge($sizing,  $all);
}

@each $prop in map-values($sizing){
    @include multiple-class($prop);
} 