$brand:(
    primary: #00AC8C,
    secondary:#1363DF,
    dark:#161619,
    dark-surface: #1e1e23,
    light:#f1f6ff,
    light-surface: #dde2ee,
    surface: var(--color-surface),
    background: var(--color-background),
    text: var(--color-text) 
);

$colors:( 
    transparent: transparent,
    red: crimson,
    orange: #f97316,
    yellow: #eab308,
    green: #22c55e,
    emerald: #10b981,
    blue:#3b82f6,
    sky: #0ea5e9,
    indigo : #6366f1,
    purple: #a855f7,
    pink: #ec4899,
    grey: grey,
);

$all-colors: join($brand , $colors);