@use '../../helpers/class' as *;

$text-align:(
    prop: text-align,
    class: 'text',
    values:(
        start: start,
        end: end,
        center: center,
        left: left,
        right: right,
    )
);

@include multiple-class($text-align);
@include responsive-class($text-align);