@use '../../helpers/class' as *;

$transform:(
    prop: text-transform,
    class: '',
    values: (
        uppercase: uppercase,
        lowercase: lowercase,
        capitalize: capitalize,
        normal-case : none
    )
);

@include multiple-class($transform);